<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#">Cocktails</a>
    <button class="navbar-toggler">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse ml-auto">
        <ul class='navbar-nav ml-auto'>
            <li class='nav item'>
                <a class='nav-link' routerLink='/cocktails' routerLinkActive='active'>Cocktails</a>
            </li>
            <li class='nav item'>
                <a class='nav-link' [routerLink]="'/panier'" routerLinkActive='active'>Panier</a>
            </li>
        </ul>
    </div>
</nav>