<div *ngIf='cocktail'>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" style="max-height: 150px;" [src]="cocktail.img" [alt]="cocktail.name">
        </div>
        <h3 class="col-8">{{ cocktail.name }}</h3>
    </div>
    <hr>
    <div class='row'>
        <ul class='list-group col-12'>
            <li *ngFor='let ingredient of cocktail.ingredients' class='list-group-item'>
                {{ ingredient.name }} <span class='badge badge-pill badge-default ml-auto'>{{ ingredient.quantity }}</span>
            </li>
        </ul>
    </div>
    <hr>
    <div class='row'>
        <button type='button' class='btn btn-success' [routerLink]='getUrl()'>
        Editer le cocktail
    </button>
        <button class=' btn btn-secondary ml-auto ' (click)='addPanier(cocktail.ingredients) '>
        Ajouter au panier
    </button>
    </div>
</div>