<form [formGroup]="cocktailForm" (ngSubmit)="saveCocktail()">
    <div class='form-group'>
        <label for='name'>Nom</label>
        <input formControlName='name' type='text' class='form-control' id='name' placeholder='Nom'>
    </div>
    <div class='form-group'>
        <label for='image'>Image</label>
        <input formControlName='img' type='text' class='form-control' id='image' placeholder='Lien image'>
    </div>
    <div class='form-group'>
        <label for='description'>Description</label>
        <textarea formControlName='desc' class='form-control' id='description' placeholder='Description'></textarea>
    </div>
    <hr>
    <button type='button' class='btn btn-success' (click)='addIngredient()'>Ajouter ingrédient</button>
    <hr>
    <div formArrayName='ingredients'>
        <div [formGroup]='ingredient' class='form-group row' *ngFor="let ingredient of cocktailForm.get('ingredients')['controls']">
            <input placeholder='name' formControlName='name' class='form-control col-8' type='text'>
            <input placeholder='quantity' formControlName='quantity' class='form-control col-4' type='number'>
        </div>
    </div>
    <hr>
    <button class='btn btn-primary' [disabled]='cocktailForm.invalid'>Sauvegarder</button>
    <button class='btn btn-secondary' [routerLink]="['../']">Annuler</button>
</form>